


#author_list, #chord_vis, #pub_list {
    padding: 5px;
    clear: both;
    overflow: hidden;
    width: 700px;
}
#chord_vis {
    height: 500px;
}

#chart {
    font: 10px sans-serif;
    float: left;
}
.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}
.chord_labels, .tick_labels {
    font-size: smaller;
}

.author_box {
    cursor: default;
    width: 120px;
    padding: 0px 5px;
    float: left;
}

 a[href='https://scholar.google.com/scholar?cites='] {
    pointer-events:none;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}


.div-table{
  display:table;
  width:auto;
  border-spacing:5px;
}
.row{
  display:table-row;
  width:auto;
  clear:both;
}
.col{
  display:inline-block;
}
.citation{
  width: 650px;
  vertical-align: top;
}
.type_count{
  width: 40px;
}

.citation_block{
    clear:both;
}


