td {
    padding: 5px;
}
#chart {
    font: 10px sans-serif;
    float: left;
}
.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}
#all {
    background-color: black;
    color: white;
    float: left;
    padding: 5px;
}
.bars {
    background-color: LightCoral;
    padding: 5px;
    float: left;
}
#nameHodler {
    float: left;
    padding: 30px;
}
#visualization #qq {
    padding: 5px;
    clear: both;
}
#qq {
    clear: both;
    width: 500px;
    height: 500px;
}
#nameTitle {
    font-weight: bold;
}
#yearTitle {
    font-weight: bold;
}
.author_box {
    cursor: default;
    width: 120px;
    padding: 0px 5px;
    float: left;
}

.div-table{
  display:table;
  width:auto;
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.row{
  display:table-row;
  width:auto;
  clear:both;
}
.col{
  display:inline-block;
}
.citation{
  width: 93%;
  vertical-align: top;
}
.type_count{
  width: 7%;
}


